button {
  border-radius: 0.25rem;
  width: 100%;
  color: white;
  background-color: rgb(75 85 99);
  margin-top: 14rem;
  padding: 0.125rem 0.25rem;
}

button:hover {
  color: rgb(75 85 99);
  background-color: white;
}

form {
  margin-top: 1rem;
}

header {
  background-color: rgb(239, 68, 68);
  margin-bottom: 2.5rem;
  padding: 1rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
  margin-bottom: 1.25rem;
}

input {
  border-color: rgb(229 231 235);
  border-radius: 0.25rem;
  border-width: 0.125rem;
  color: rgb(17 24 39);
  margin-bottom: 1.25rem;
  margin-right: 0.5rem;
  padding: 0.75rem;
  width: 100%;
}

input:focus {
  outline: none;
}

p {
  margin-bottom: 1rem;
}

select {
  border-color: rgb(229 231 235);
  border-radius: 0.25rem;
  border-width: 0.125rem;
  color: rgb(17 24 39);
  margin-right: 0.5rem;
  padding: 0.75rem;
  width: 100%;
}

select:focus {
  outline: none;
}

span {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

svg {
  animation: spin 1s linear infinite;
  color: rgb(229 231 235);
  display: inline;
  fill: #db2777;
  height: 6rem;
  margin-right: 0.5rem;
  width: 6rem;
}

#generated {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
  margin: auto;
  max-width: 64rem;
  text-align: center;
}

#header-div {
  margin: auto;
}

#header-div-title {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.75rem;
}

#main-div {
  align-self: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin: auto;
  padding: 2.5rem;
}

#main-div-child {
  margin-right: 6rem;
  width: 100%;
}

#main-div-img-container {
  align-self: center;
  width: 100%;
}

#main-div-img-container img {
  width: 50%;
  margin: auto;
  margin-bottom: 2.5rem;
}

#qrcode {
  margin: auto;
}

#generated #save-link {
  background-color: rgb(239, 68, 68);
  color: white;
  font-weight: bolder;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
  width: 33.333333%;
  margin: 1.25rem auto;
}

#generated #save-link:hover {
  background-color: white;
  color: rgb(239, 68, 68);
  border: solid;
  border-radius: 0.25rem;
}

#spinner {
  display: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  #main-div {
    flex-direction: row-reverse;
  }
}
